<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <input id="section" type="hidden" value="{{ page.section }}"/>
    <header>
      {% include branding.html %}
      {% include primary-nav.html %}
    </header>

    <main role="main">
      {% if page.navigation == 'swagger' %}
        {% include secondary-nav.swagger.html %}
      {% else %}
        {% include secondary-nav.html %}
      {% endif %}
      {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
