{{ define "main" }}

<header class="container-fluid px-0 pt-5 pt-md-1">
  <div class="container py-md-3 pt-5 pt-xl-1 pb-lg-4 pb-xl-5">
    <div class="row py-lg-3 pb-xl-4">
      <div class="col-12 py-lg-4 pb-5 text-center">
        <h1 class="display-4 font-weight-bold pt-md-4 mt-1 mt-sm-2 mt-md-4 pb-xl-5 text-white{{ if .Params.DoNotTranslateTitle }} notranslate{{- end -}}">
          {{- .Title -}}
        </h1>
      </div>
    </div>
  </div>
</header>
</div>

<main class="my-5">
  <div class="container text-center mb-5 pb-5">
    <p>The page you are looking for could not be found.</p>
    <p>Return to the <a href="/"> home page</a>, and let's try again.</p>
  </div>
</main>

{{- end -}}
