.card-blog-brief {
  transition: 0.2s ease-in-out;
  min-height: 110px;
}

.card-blog-brief:hover {
  box-shadow: 0 0 8px #bfbfc6 !important;
  transition: 0.2s ease-in-out;
}

.card-blog-brief .card-header {
  background-color: #eaeaef;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 119px;
}

.card-blog-brief .card-body .stretched-link {
  min-height: 44px;
}
