.footer {
  background-color: #eee;
  background-size: cover;
  background-position: center;
  content-visibility: auto;
  contain-intrinsic-size: 333px;
  font-size: 14px;
  min-height: 333px;
  color: black;
}

.footer p {
  font-size: 14px !important;
}

.footer h5,
.footer .h5 {
  color: #333;
}

.footer a {
  color: #333;
  text-decoration: underline;
}
