.footer {
  background-size: cover;
  background-position: center;
  content-visibility: auto;
  contain-intrinsic-size: 333px;
  font-size: 14px;
  min-height: 333px;
}

.footer p {
  font-size: 14px !important;
}

.footer a {
  color: #353a40;
  text-decoration: underline;
}
