// Internet Explorer 11 fixes

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  nav .justify-content-end {
    justify-content: space-between !important;
  }

  .bg-anim {
    background-image: linear-gradient(180deg, rgba(42,135,196,1) 0%, rgba(42,135,196,1) 66%, rgba(42,135,196,0) 66%, rgba(42,135,196,0) 100%) !important;
    background-repeat: repeat-x !important;
    background-position: bottom center;
    background-size: auto !important;
  }
}
