/* iPhone 5 */
@media (max-width: 320px) {
  body {
    background-position: center top;
    background-image: none;
  }
}

/* iPhone 6/7/8 */
@media (max-width: 376px) {
  body {
    background-position: center top;
    background-image: none;
  }

  .navbar-nav a {
    font-size: 0.8rem !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    letter-spacing: -1px;
  }
}

@media (max-width: 576px) {
  body {
    background-position: center 1.8% !important;
  }

  .navbar-nav.nav-item,
  .navbar-nav a {
    display: block !important;
  }

  .navbar-nav a {
    letter-spacing: -0.5px;
  }

  .container-home-header .lead {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .container-home-header,
  .container-home-header .text-dark {
    color: #fff !important;
  }
}
