.navbar a {
  font-weight: 600;
  font-size: 14px;
  color: #fff !important;
}

.navbar .form-control {
  font-size: 14px;
}

// 'frosted glass' effect on top navbar
.navbar.fixed-top {
  backdrop-filter: blur(6px);
  opacity: 0.98;
  z-index: 11111; // prevents overlapping navbar on mobile as scroll past
}

.navbar-brand a,
.navbar-brand a:hover {
  color: #005f9d;
}

// sets underline on top navbar on selected section
body[data-url^="/development-practices/"] .navbar-nav li a[href^="/development-practices/"],
body[data-url^="/code-style/"] .navbar-nav li a[href^="/code-style/"],
body[data-url^="/governance/"] .navbar-nav li a[href^="/governance/"],
body[data-url^="/innersource/"] .navbar-nav li a[href^="/innersource/"] {
  border-bottom: 2px solid #fff;
}

.navbar-nav li a {
  border-bottom: 2px solid transparent;
  color: #0063a3;
}

.navbar-nav li a:hover {
  border-bottom: 2px solid #e0e1e9;
}
