/**
 * Custom Scrollbars
 * This adds custom thinner scrollbars to WebKit/Blink browsers and Firefox.
 * These styles will NOT apply to the main HTML/Body window
 */


/* Firefox-only */

/*! purgecss start ignore */
body :not(body) {
  scrollbar-width: thin;
  scrollbar-color: $col_gray_6 $col_gray_2;
}

/*! purgecss end ignore */

/* Works on Chrome/Edge/Safari */

/*! purgecss start ignore */
body :not(body)::-webkit-scrollbar,
body :not(body)::-webkit-scrollbar {
  height: .75em;
  width: .75em;
}

body :not(body)::-webkit-scrollbar-track {
  background-color: $col_gray_2;
}

body :not(body)::-webkit-scrollbar-thumb {
  background-color: $col_gray_6;
  border-radius: .25em;
}

/*! purgecss end ignore */
