// Utility Classes

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.img-invert img {
  filter: invert(200%);
}

.bg-filter-invert {
  filter: invert(200%);
}

@media (min-width: 1200px) {
  .row-cols-xl-7>* {
    flex: 0 0 14.2857%;
    max-width: 14.2857%;
  }
}
