{{- if not .Site.IsServer -}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}" fetchpriority="low"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ .Site.GoogleAnalytics }}', {ad_storage:"denied", analytics_storage:"denied"});
</script>

<script id="plausible" defer data-domain="devguide.trimble.com"
  src="https://plausible.io/js/script.compat.outbound-links.js" fetchpriority="low"></script>
{{- end -}}
