<!-- OneTrust Cookies Consent Notice start for devguide.trimble.com -->
<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" charset="UTF-8"
  data-domain-script="2e2d00e4-e7f3-4620-ae76-75d090e533f8"></script>
<script>function OptanonWrapper() { }</script>

{{- if not .Site.IsServer -}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ .Site.GoogleAnalytics }}', { 'anonymize_ip': true });
</script>
{{- end -}}
