<footer class="p-2 footer pt-4 bg-light">
  <div class="container text-dark">

    <div class="row pt-2">
      <div class="col-12 mb-4 mt-2">
        <a href="https://www.trimble.com/" target="_blank" rel="noopener">
          <img src="/img/trimble-logo.svg" class="" width="107" height="24" alt="Trimble">
        </a>
      </div>
    </div>

    <div class="row py-2">
      <div class="col-11 col-md-5 col-lg-4">
        <p>Trimble is transforming the way the world works by delivering products and services that connect the physical
          and digital worlds.</p>
      </div>
      <div class="col-12 col-sm-1 col-lg-4">

      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <ul class="list-unstyled">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li class="my-2 px-0 mx-0">
            <a class="text-decoration-none text-dark{{if ($currentPage.HasMenuCurrent " main" .) }} active{{end}}"
              href="{{ .URL }}">
              {{- .Name -}}
            </a>
          </li>
          {{- end -}}
        </ul>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-12 border-top border-light opacity-50">
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-12 col-sm-6 small">
        Copyright &copy; {{ now.Format "2006" }}, Trimble Inc.
      </div>
      <div class="col-12 col-sm-6 text-sm-right small">
        <a href="https://www.trimble.com/en/legal/terms-and-conditions/terms-of-use" target="_blank" rel="noopener">Terms of
          Use</a>
      </div>
    </div>
  </div>
</footer>
