<script>
  document.addEventListener("DOMContentLoaded", function() {
    var ulElements = document.querySelectorAll('#TableOfContents ul');
    ulElements.forEach(function(element) {
        element.classList.add('list-unstyled', 'pl-0', 'ml-0');
    });

    var aElements = document.querySelectorAll('#TableOfContents a');
    aElements.forEach(function(element) {
        element.classList.add('nav-link');
    });
});
</script>
<div class="sticky-top sticky-offset">
  <div class="h5 pt-2 ml-3">
    On this page
  </div>
  {{- .TableOfContents -}}
</div>
