<section class="primary-nav">
    <svg class="burger-icon" viewBox="0 0 25 25">
        <rect x="0" y="0" fill="#19388a" width="25" height="5"/>
        <rect x="0" y="10" fill="#19388a" width="25" height="5"/>
        <rect x="0" y="20" fill="#19388a" width="25" height="5"/>
    </svg>
    <nav>
        <ul>
            <li><a href="{{ site.baseurl }}/" class="home">Home</a>
            <li><a href="{{ site.baseurl }}/development-practices/" class="development-practices">Development Practices</a>
            <li><a href="{{ site.baseurl }}/code-style/" class="code-style">Code Style</a>
            <li><a href="{{ site.baseurl }}/governance/" class="governance">Governance</a>
        </ul>
    </nav>
</section>
