<nav>
    {% if site.data[page.section].toc[0] %}
        <div class="expandcollapse"><span class="toggle">&#x25BC;</span> {{ site.data[page.section].display-name }}</div>
    {% endif %}
    <ul class="accordion">
        {% if site.data[page.section].toc[0] %}
            {% for item in site.data[page.section].toc %}
                <li>
                    {% assign subindex = forloop.index %}
                    {% if item.subitems[0] %}
                    <div class="collapsed trigger" id="menu-{{ forloop.index }}">{{ item.title }}</div>
                    <ul>
                        {% for entry in item.subitems %}
                            <li>
                                {% if entry.subitems[0] %}
                                    <div class="collapsed trigger" id="menu-{{subindex}}-{{ forloop.index }}">{{ entry.title }}</div>
                                    <ul>
                                        {% for subentry in entry.subitems %}
                                            <li><a href="{{ subentry.url | prepend: site.baseurl}}">{{ subentry.page }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <a href="{{ entry.url | prepend: site.baseurl}}">{{ entry.page }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <a href="{{ item.url | prepend: site.baseurl}}">{{ item.page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>
