@view-transition {
  navigation: auto;
}

body {
  font-size: 1rem;
}

article .table > thead {
  background-color: rgba(133, 133, 133, 11%);
}

.col-auto main {
  min-height: calc(100vh - 338px);
}

.col-main header {
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  background-position: 98% center;
  background-size: 20%;
  padding-right: 20px;
}

header h2 {
  padding-right: 5rem;
}

.menu-right .sticky-top {
  z-index: 900 !important;
}

[data-bs-theme="dark"] pre code {
  filter: brightness(8) contrast(0.4);
}
