name: "Check spelling"
on:
  pull_request:
    branches-ignore:
      - "dependabot/**"

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  spellcheck:
    permissions:
      contents: read  # for streetsidesoftware/cspell-action to fetch files for commit
      pull-requests: read  # for streetsidesoftware/cspell-action to fetch commits for PR
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: streetsidesoftware/cspell-action@9cd41bb518a24fefdafd9880cbab8f0ceba04d28 # v8.3.0
        with:
          check_dot_files: false
          incremental_files_only: true
          inline: warning
          strict: false
